<div class="container py-4">
  <!-- header -->
  <div class="mb-3">
    <h1 class="m-0 mb-3">Movies</h1>

    <!-- filtros -->
    <div class="d-flex flex-wrap align-items-center gap-2">
      <!-- Search by name (FORM 1) -->
      <form class="input-group input-group-sm w-auto" (ngSubmit)="getMovies()">
        <input
          name="search"
          [(ngModel)]="search"
          mdbInput
          type="text"
          class="form-control form-control-sm w-50"
          placeholder="by name, ex: harry"
          required
        />
        <button type="submit" class="btn btn-success" mdbRipple>
          Search
        </button>
      </form>

      <!-- Search by ID (FORM 2) -->
      <form class="input-group input-group-sm w-auto" (ngSubmit)="goToId()">
        <input
          name="imdbId"
          [(ngModel)]="imdbId"
          mdbInput
          type="text"
          class="form-control form-control-sm w-50"
          placeholder="by ID, ex: tt0118799"
          required
        />
        <button type="submit" class="btn btn-primary" mdbRipple>
          Search
        </button>
      </form>
    </div>

  </div>

  <!-- movies grid -->
  <div class="row g-4 mt-3">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let m of movies">
      <app-card
        [Title]="m.Title"
        [Year]="m.Year"
        [imdbID]="m.imdbID"
        [Type]="m.Type"
        [Poster]="m.Poster"
        [Button]="true">
      </app-card>
    </div>
  </div>
</div>
